/* global */
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 100%;
  margin: 0;
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* nav bar */

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: white;
  outline: 2px solid #e7e7e7;
}

nav img {
  width: 55px;
  height: 50px;
  padding-left: 15px;
  margin: 0;
}

nav div {
  display: flex;
}

.nav-link {
  padding: 15px;
  line-height: 20px;
  display: inline-block;
  color: #777;
}

nav a:nth-child(2) {
  background-color: #e7e7e7;
  font-weight: 500;
  color: #555;
  margin-left: 20px;
}

.nav-link:link,
.nav-link:visited,
.logo-link:link,
.logo-link:visited {
  text-decoration: none;
}

.nav-link:hover {
  color: #555;
  font-weight: 500;
}

.nav-link:active {
  background-color: #e7e7e7;
  font-weight: 500;
}

/* main */

.flexContainer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 70px;
  background-color: #0079bf;

}

#justLists {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
}

.listFull {
  max-height: 550px;
  width: 220px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.titleInput {
  background-color: #f5f5f5;
  margin: 0;
  padding-left: 15px;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 75%;
}

.titleInput h3 {
  cursor: pointer;
}

.titleInput input {
  margin: 11px 11px 12px 2px;
}

.list-body {
  overflow-y: auto;
}

/* cards */

.card {
  border: 1px solid red;
  list-style: none;
  padding-left: 10px;
  margin: 0;
  height: 100px;
  width: 100px;
  background-color: grey;
}

.add-list > button {
  width: 100px;
  margin-left: 10px;
  background-color: #d9edf7;
}

.add-card {
  display: block;
  color: #333;
  background-color: #f5f5f5;
  padding: 10px 15px;
}

.hiddenInput {
  display: none;
}



