/* nav bar */
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: white;
  outline: 1px solid #e7e7e7;
}

nav img {
  width: 40px;
  height: 40px;
  padding-top: 5px;
  padding-left: 15px;
  margin: 0;
}

.nav-link {
  padding: 15px;
  line-height: 20px;
  display: inline-block;
  color: #777;
}

nav a:nth-child(2) {
  background-color: #e7e7e7;
  font-weight: 500;
  color: #555;
}

.nav-link:link,
.nav-link:visited,
.logo-link:link,
.logo-link:visited {
  text-decoration: none;
}

.nav-link:hover {
  color: #555;
  font-weight: 500;
}

.nav-link:active {
  background-color: #e7e7e7;
  font-weight: 500;
}

/* main */

.flexContainer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 70px;
}

.justLists {
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
  background-color: red;
}

.panel {
  min-width: 220px;
  margin-left: 10px;
}

.list-body {
  overflow-y: auto;
  /*max-height: 65vh;*/
}


/* cards */

.card {
  outline: 1px solid red;
  list-style: none;
}
.card li {
  padding: 0;
  margin: 0;
}

body > div > div.add-list > button {
  width: 100px;
  margin-left: 10px;
  background-color: #d9edf7;
}

#add-card {
  display: block;
  color: #333;
}
