/* global */
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* nav bar */

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: white;
  outline: 2px solid #e7e7e7;
  z-index: 0;
}

nav img {
  width: 55px;
  height: 50px;
  padding-left: 15px;
  margin: 0;
}

.navbar-nav {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

}

.nav-link {
  padding: 15px;
  line-height: 20px;
  display: inline-block;
  color: #777;
}

nav a:nth-child(2) {
  background-color: #e7e7e7;
  font-weight: 500;
  color: #555;
  margin-left: 20px;
}

.nav-link:link,
.nav-link:visited,
.logo-link:link,
.logo-link:visited {
  text-decoration: none;
}

/*.nav-link:hover {*/
/*color: #555;*/
/*font-weight: 500;*/
/*}*/

/*.nav-link:active {*/
/*background-color: #e7e7e7;*/
/*font-weight: 500;*/
/*}*/

/* main */

.flexContainer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 70px;
}

/*lists*/

.boards-page {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
}

#justLists {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
}

.listFull {
  max-height: 550px;
  width: 250px;
  margin: 0 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.list-body {
  overflow-y: auto;
  min-height: 30px;
  max-height: 65vh;
  border-top: 1px solid #ddd;
  margin-bottom: 0;
}

.dropdown {
  position: absolute;
  top: 12px;
  left: 202px;
}

/* List titles edit */

.hiddenInput {
  display: none;
}

.titleInput {
  display: flex;
  position: relative;
  background-color: #f5f5f5;
  margin: 0;
  padding-left: 15px;
  padding-top: 1px;
  padding-bottom: 1px;
  /*font-size: 75%;*/
}

.titleInput h3 {
  cursor: pointer;
  margin: 15px 0 15px 0;
}

.titleInput input {
  margin: 15px 0 15px 0;
  outline: none;
}

/* cards */

.card {
  position: relative;
  border: 1px solid #bce8f1;
  border-radius: 4px;
  list-style: none;
  min-height: 120px;
  padding: 10px;
  margin-bottom: 20px;
}

.card button {
  position: absolute;
  left: 67.88%;
  display: none;
}

.card:hover button {
  display: block;
}

.cardLabels {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  left: 70%;
  top: 80%;
}

.card-label {
  margin-left: 5px;
  cursor: default;
}

/* edit card modal */

.edit-card-modal {
  /*display: block;*/
  background-color: rgba(0, 0, 0, 0.5);
}

.add-members-card {
  max-height: 80px;
  width: 300px;
  overflow: auto;
}

.add-members-card label {
  display: block;
}

/*Members Page*/

.members-page {
  padding-top: 70px;
  padding-left: 15px;
  width: 800px;
}

.new-member-input {
  width: auto;
}

.members-page > ul > li:last-child {
  display: inline-flex;
  width: 100%;
}

.members-btns button,
.members-edit-btns button {
  /*display: none;*/
}

.members-btns:hover,
.members-edit-btns:hover {
  display: block;
}

/* "Add a list" button */

.add-list > button {
  width: 200px;
  margin-left: 10px;
  background-color: #d9edf7;
  text-align: left;
  border-color: #bce8f1;
  box-shadow: 0 1px 1px rgba(188, 232, 241, .05);

}

.add-list > button:hover {
  background-color: #96cde9;
  border-color: #91bbc4;
}

.panel-footer > button {
  background: none;
  border: 0;
  color: inherit;
  display: block;
  outline: none;
}



